* {
    margin: 0px; padding: 0px;
}

body {
    background-color: #D2E9FF;
    font-family: "Microsoft YaHei";
    line-height: 1.5em;
}

header {
    background-color: #E6FCEF;
    padding: 35px 0px;
}

#logo {
    position: absolute;
    left: 15px;
    top: 0px;
    width: 70px;
}

#logo img{
    padding: 0px; margin: 0px;
    max-height: 70px;
    float: left;
}

#directions {
    position: absolute;
    top: 18px;
    right: 0px;
    width:  338px;
}

#directions li {    
    display: inline-block;
    padding-right: 20px;  
}

#directions li a {
    color: #000000;
    text-decoration: none;
    border-bottom: dotted rgb( 249, 204, 226);
    font-size: 12px;
}

#sidebar{
    width: 350px;
    float: right;
}

main {
    margin-right: 400px;
}

h1, h2, h3{
    padding-bottom: 7px;
}

article {
    background-color: white;
    margin: 30px 20px;
    padding: 20px;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 1px;
}

article h3 {
    color: #777777;
}

article header {
    color: #999999;
}

dl {
    padding: 10px 0px 10px 30px;
    overflow: hidden;
}

dl dd {
    float: left;
    text-align: center;
    margin: 20px; 
    padding: 20px;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 1px;
}

dl dd img{
    width: 137px; height: 137px;
}

.list {
    margin: 20px 50px;
}
.list li {
    line-height: 2em;
}

p {
    padding-bottom: 10px;
    text-indent: 2em;
}

footer {
    font-size: 100%;
    text-align: center;
    line-height: normal;
    margin: 20px 0px 0px 0px;
    padding: 7px 0px;
    background: #E6FCEF;
}

#tbl {
    padding-top: 20px;
}

caption {
    height: 50px;
    font-size: 3em;
}

table {
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
    width: 100%;
}

table tr,td {
    border: 1px solid #BBBBBB;
    padding: 5px;
}

thead {
    background-color: black;
    color: white;
}

tfoot {
    background-color: #BBBBBB;
} 

#jinkela {
    border-left: 5px #BBBBBB solid;
    padding: 10px;
}

.leftt {
    display: inline-block;
    text-align: right;
    width: 30%;
    margin-right: 1em;
    margin-top: 0.7em;
}

.rightt {
    display: inline-block;
    vertical-align: text-top;
}   

.notion {
    text-indent: 0;
    color: #BBBBBB;
    font-size: 0.7em;
    text-align: left;
}

textarea {
    width: 60%;
    height: 10em;
    vertical-align: text-top;
}

.smt {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #35d;
    border-radius: 10px;
}

#ooo {
    width:100px; height: 100px;
}